body {
    background-color: #000;
}

#mainContainer {
    position: relative;
    width: 64vw;
    margin: auto;
    /* border: 1px solid red; */
}

h1 {
    background-color: #555;
    text-align: center;
    font-size: 4vw; 
}

#mainDisplay {
    display: grid;
    position: relative;
    place-content: center;
    height: 20vw;
    font-size: 8vw;
    background-color: #999;
}

h2 {
   font-size: 3vw; 
}

h3 {
    font-size: 3vw; 
}

.textos {
    color: white;
}

#buttonContainer {
    display: grid;
    position: relative;
    place-content: center;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(2, 30vw);
    grid-gap: 2vw;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.cuadro {
    background-color: #999;
    color: black;
    font-size: 3vw;
}